// --------------------------------------------------------------
// # Footer
// --------------------------------------------------------------

.site-footer {
  color: $white;
  padding: 50px 0 65px;

  .list-inline {
    margin: 0;
    padding: 0;
  }

  .copyright {
    margin-bottom: 0;
    @include rfs(0.875rem);
  }

  a {
    color: $white;
  }
}

.site-footer__title {
  color: $white;
}

.social-links__list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.social-links__item {
  margin-right: 15px;

  &:not(:nth-child(:last-child)) {
    margin-right: 0;
  }
}

// --------------------------------------------------------------
// # Footer
// --------------------------------------------------------------

#footer {
  background-color: #f3f4f6;
  color: $white;
  position: relative;
  @include rfs(0.875rem);
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #5f687b;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
  @include rfs(2.25rem);
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-bottom {
  border-top: 1px solid #d9dce2;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

@media (max-width: 992px) {
  #footer .copyright,
  #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
  }
}

#footer .footer-top .social-links a {
  align-items: center;
  background: #274c77;
  border-radius: 4px;
  color: $white;
  display: flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  margin-right: 4px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  width: 48px;
  @include rfs(1.125rem);
}

#footer .footer-top .social-links a:hover {
  background: #ea9010;
  color: #fff;
  text-decoration: none;
}

.social-links__item {
  display: inline-block;
}
