// --------------------------------------------------------------
// # Header
// --------------------------------------------------------------

.site-header {
  min-height: 86px;
}

.site-header .logo a {
  margin: 15px 0;
}

.site-header .site-header--scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

.big-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;

  &--large {
    @include font-size(4rem);
  }
}

.subtitle p {
  color: #274c77;
  font-weight: 600;

  @include font-size(1.5rem);
}
